<style>
*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: black; 
}
.menu{
    background-image: url();
    width: 100px;
    height: 718px;
}
.header{
    display: flex;
    width: 1280px;
    margin: auto;
    background: burlywood;
    height: 86px;
}
.nav{
    display: flex;
}

        footer{
            background-color: #d7ccc8;
        }
        nav{
            height: 150px;
        }
        section{
            display: flex;
        }
        .content{
            flex: 4;
        }
        aside{
            flex: 1;
        }
        nav ul li{
            display: inline;
            letter-spacing: 2px;
        }
        a{
          list-style: none;
          text-decoration: none;
        }
        nav ul li:hover{
            background-color: #d7ccc8;
            padding: 15px;
            margin: 40px;
        }
        nav ul{
            display: inline;
            border-top: 3px solid #d7ccc8;
            border-bottom: 3px solid #d7ccc8;
            padding: 15px 20px;
            text-align: center;
        }
        input type{ background-color: grey;
            color: darkgray;

        }

    </style>